<p id="notice"><%= notice %></p>
<strong>User:</strong>
<%= @user.name.capitalize %>
<br /><br />

<strong>Created events:</strong>
<%@user.events.each do |event|%>
  <p><%=event.name%></p>
  <p><%=event.description%></p>
  <p><%=event.location%></p>
  <p><%=event.date%></p>
<% end %>

<strong>Attended events:</strong>
<%@user.attended_events.each do |event|%>
  <p><%=event.name%></p>
  <p><%=event.description%></p>
  <p><%=event.location%></p>
  <p><%=event.date%></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
